* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcf8cc;
  font-family: Arial, Helvetica, sans-serif;
}

/* ...............Navigation............ */
nav {
  background-color: #a64253;
  /* padding: 15px; */
  padding: 0.9em;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  /* margin-left: 20px; */
  margin-left: 1.25em;
}

/* ...............Header............ */

header {
  height: 100vh;
  color: #fff;
  background-image: url("../img/images-4.jpg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header * {
  position: relative;
  z-index: 1;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
}

header h1 {
  font-size: 3.75em;
}

header p {
  font-size: 1.87em;
}

/* ...............section............ */
section {
  text-align: center;
  /* padding: 1.87em; */
  padding: 2.5em;
}

.bg-pink {
  background-color: pink;
  color: #fff;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  font-size: 1.87em;
  color: #fff;
  margin: 0 0.5em;
}

/* ...............Footer............ */

footer {
  background-color: #a64253;
  color: #fff;
  text-align: center;
  padding: 0.62em;
}

footer .fa-heart {
  color: red;
}
